.main {
    background-image: url('/hero.jpg'); /* Adjusted for public folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
